<?xml version="1.0" encoding="utf-8" standalone="no"?>
<widget id="com.phonegap.colectivosGPS" version="2.0.0">
    <name>ColectivosGPS</name>
    <description> Actualiza la posicion de un colectivo. </description>
    <author email="manzurcarim@gmail.com" href="http://phonegap.com"> Carim Manzur </author>

    <preference name="phonegap-version" value="3.0.0"/>
    <preference name="orientation" value="portrait"/>
    <preference name="target-device" value="universal"/>
    <preference name="fullscreen" value="false"/>
    <preference name="splashscreen" value="splash"/>

    <access origin="*"/>
    <gap:platform name="android"/>
    <content src="index.html"/>
</widget>